.ImageSplit {
  @include component-spacing;
  margin-bottom: 5rem;

  &_container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;

    @include below(tablet) {
      flex-flow: column;
    }
  }

  &_item {
    width: 50%;

    @include below(tablet) {
      width: 100%;
    }

    &-text {
      @include below(tablet) {
        order: 2;
      }
    }
  }

  &_imageContainer {
    height: 500px;
    width: 56.25%;
    margin-left: 8rem;
    background: lightblue;

    @include below(tablet) {
      order: 1;
    }

    @include below(mobile-large) {
      width: 100%;
      margin-left: 0;
    }
  }

  &_image {
    height: 100%;
    width: 100%;
    // background-image: url('/static/images/wellness_events_placeholder.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  &_textContent{
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
    padding: 0 8rem;

    @include below(mobile-large) {
      padding: 0;
      margin-top: 1rem;
    }
  }


  &_title {
    @include heading-two;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 60px;
      height: 1rem;
      bottom: -1rem;
      left: 0;
      border-bottom: 2px solid map-get($brand-colors, 'primary');
    }
  }

  &_innerText {
    margin-top: 2rem;
    font-size: 1.2rem;
  }

  &_actions {
    margin-top: 3rem;
    width: 100%;
    flex: 0 0 auto;

    @include below(mobile-large) {
      display: flex;
    }
  }

  &_button {
    height: 3rem;
    padding: 0.8rem 2rem;
    background-color: map-get($brand-colors, "primary");
    color: map-get($colors, "white");
    font-size: 0.85rem;

    &:hover {
      background-color: map-get($brand-colors, "primary-active");
    }

    @include below(mobile-large) {
      width: 100%;
      text-align: center;
    }
  }
}