.EventSearch {

  &_container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &_searchBar {
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 1rem;
    width: 50%;
    background: lightblue;
  }

  &_searchFilter {
    display: flex;
    flex-flow: column; 
    padding: 0 1rem;
    width: 100%;

    & + & {
      border-left : 1px solid grey;
    }
  }

  &_label {
    color: map-get($font-colors, "text-dark");
    font-size: 0.95rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  &_value {
    height: 1.5rem;
    border-bottom: 1px solid grey;
    font-size: 1.125rem;
  }

  &_datePicker {
    display: none;

    &-active {
      position: absolute;
      z-index: 2;
      display: block;
      margin: 3rem -1rem;
      background-color: map-get($colors, "white");
      box-shadow: 5px 5px 10px grey;
    }
  }

  &_date {
    .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
      background-color: #f0f8ff !important;
      color: #4a90e2;
    }

    .DayPicker-Day {
      border-radius: 0 !important;
    }
  }
}