*,
*::before,
*::after {
  padding: 0;
  border: none;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  transition-timing-function: timing-function("out-quad");
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  background-color: map-get($page-colors, "page-background");
}

figure {
  display: block;
  margin: 0;
}

img {
  max-width: 100%;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;

  td,
  th {
    padding: 0;
  }
}

.no-scroll {
  @include above(desktop) {
    &-desktop {
      overflow: hidden;
    }
  }
  @include below(desktop) {
    &-tablet {
      overflow: hidden;
    }
  }
  @include below(tablet) {
    &-mobile {
      overflow: hidden;
    }
  }
}
