@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }

.Component {
  margin-top: 6rem;
  overflow-x: hidden; }
  .Component:first-child {
    margin-top: 0; }
  .Root > .Component:first-child {
    margin-top: 4rem; }

*,
*::before,
*::after {
  padding: 0;
  border: none;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  transition-timing-function: timing-function("out-quad"); }

html {
  height: 100%; }

body {
  position: relative;
  min-height: 100%;
  background-color: #fff; }

figure {
  display: block;
  margin: 0; }

img {
  max-width: 100%; }

table {
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent; }
  table td,
  table th {
    padding: 0; }

@media screen and (min-width: 1024px) {
  .no-scroll-desktop {
    overflow: hidden; } }

@media screen and (max-width: 1023px) {
  .no-scroll-tablet {
    overflow: hidden; } }

@media screen and (max-width: 767px) {
  .no-scroll-mobile {
    overflow: hidden; } }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  font-weight: 400;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  color: #474747; }
  @media screen and (min-width: 0) and (max-width: 479px) {
    html {
      font-size: 15px; } }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    html {
      font-size: 15px; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    html {
      font-size: 16px; } }
  @media screen and (min-width: 1024px) and (max-width: 1439px) {
    html {
      font-size: 16px; } }
  @media screen and (min-width: 1440px) {
    html {
      font-size: 16px; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

p {
  margin-bottom: 1rem; }
  p:last-child {
    margin-bottom: 0; }

.Button {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 3rem;
  padding: 0 2rem;
  font-weight: 800;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out; }
  .Button-ghost {
    border: 2px solid #fff;
    line-height: calc(3rem - 4px);
    color: #fff; }
  .Button-fill {
    line-height: 3rem;
    color: #fff;
    background-color: #00B6C8; }
    .Button-fill:hover {
      background-color: white; }
  .Button_text {
    display: block;
    width: 100%;
    text-align: center; }

.EventDetails {
  padding-bottom: 10rem; }
  @media screen and (max-width: 767px) {
    .EventDetails {
      padding-bottom: 13rem; } }
  .EventDetails_imageContainer {
    position: relative;
    height: 28rem;
    width: 100%;
    background: lightblue; }
  .EventDetails_image {
    display: block;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .EventDetails_content {
    display: flex;
    flex-flow: column; }
  .EventDetails_title {
    padding: 1rem 3rem;
    color: #14505B;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase; }
    @media screen and (max-width: 479px) {
      .EventDetails_title {
        padding: 1rem; } }
  .EventDetails_eventInfo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 3rem; }
    @media screen and (max-width: 479px) {
      .EventDetails_eventInfo {
        flex-flow: column;
        align-items: baseline;
        padding: 1rem; } }
  .EventDetails_time {
    font-weight: 600; }
    .EventDetails_time + .EventDetails_time {
      margin-top: 0.5rem; }
  .EventDetails_actions {
    display: flex;
    margin-top: 0.5rem; }
    @media screen and (max-width: 479px) {
      .EventDetails_actions {
        width: 100%; } }
  .EventDetails_button {
    width: 10rem;
    padding: 0.9rem;
    background-color: #00B6C8;
    color: #fff;
    text-align: center;
    font-size: 0.85rem;
    font-weight: 600; }
    .EventDetails_button:hover {
      background-color: #00A0B0; }
    @media screen and (max-width: 479px) {
      .EventDetails_button {
        width: 100%; } }
  .EventDetails_address {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    font-weight: 600; }
    @media screen and (max-width: 479px) {
      .EventDetails_address {
        margin-top: 0.5rem;
        align-items: flex-start; } }
  .EventDetails_capacity {
    text-transform: uppercase;
    font-weight: 600; }
  .EventDetails_price {
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 600; }
  .EventDetails_description {
    padding: 3rem;
    font-size: 1.125rem;
    line-height: 1.5; }
  .EventDetails_friendsContainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%; }
    @media screen and (min-width: 0) and (max-width: 479px) {
      .EventDetails_friendsContainer {
        max-width: none;
        padding-left: 1rem;
        padding-right: 1rem; } }
    @media screen and (min-width: 480px) and (max-width: 767px) {
      .EventDetails_friendsContainer {
        max-width: none;
        padding-left: 1.5rem;
        padding-right: 1.5rem; } }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .EventDetails_friendsContainer {
        max-width: none;
        padding-left: 1.5rem;
        padding-right: 1.5rem; } }
    @media screen and (min-width: 1024px) and (max-width: 1439px) {
      .EventDetails_friendsContainer {
        max-width: none;
        padding-left: 2rem;
        padding-right: 2rem; } }
    @media screen and (min-width: 1440px) {
      .EventDetails_friendsContainer {
        max-width: 1600px;
        padding-left: 2rem;
        padding-right: 2rem; } }
  .EventDetails_friendsContent {
    display: flex;
    flex-flow: column;
    align-items: center; }
    @media screen and (max-width: 1023px) {
      .EventDetails_friendsContent + .EventDetails_friendsContent {
        margin-top: 2rem; } }
  .EventDetails_friendTitle {
    position: relative;
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center; }
    .EventDetails_friendTitle::after {
      content: '';
      position: absolute;
      width: 60px;
      height: 1rem;
      bottom: -1rem;
      left: calc(50% - 30px);
      border-bottom: 2px solid #00B6C8; }
    @media screen and (max-width: 479px) {
      .EventDetails_friendTitle {
        width: 80%; } }
  .EventDetails_friendList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 400px;
    height: 100%;
    margin-top: 2rem;
    list-style: none; }
  .EventDetails_friendProfile {
    flex: 0 0 auto;
    width: 16.66667%;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    background: #00B6C8;
    margin: 1rem; }

.EventSearch_container {
  display: flex;
  justify-content: center;
  width: 100%; }

.EventSearch_searchBar {
  position: absolute;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 1rem;
  width: 50%;
  background: #fff;
  transform: translateY(-50%);
  border: 1px solid #ccc;
  border-radius: 5px; }
  @media screen and (max-width: 1023px) {
    .EventSearch_searchBar {
      flex-flow: column; } }
  @media screen and (max-width: 767px) {
    .EventSearch_searchBar {
      left: 2.5rem;
      width: 90%; } }
  @media screen and (max-width: 479px) {
    .EventSearch_searchBar {
      left: 0;
      width: 100%; } }

.EventSearch_searchFilter {
  display: flex;
  flex-flow: column;
  padding: 0 1rem;
  width: 100%; }
  .EventSearch_searchFilter + .EventSearch_searchFilter {
    border-left: 1px solid grey; }
  @media screen and (max-width: 1023px) {
    .EventSearch_searchFilter {
      margin: 1rem 0; } }

.EventSearch_label {
  color: #474747;
  font-size: 0.95rem;
  font-weight: 600;
  text-transform: uppercase; }

.EventSearch_value {
  height: 1.5rem;
  width: 100%;
  border-bottom: 1px solid grey;
  font-size: 1.125rem; }

.EventSearch_action {
  display: flex;
  align-items: center; }

.EventSearch_button {
  background-color: #00B6C8;
  color: #fff;
  font-size: 0.85rem;
  font-weight: 600; }
  .EventSearch_button:hover {
    background-color: #00A0B0; }
  @media screen and (max-width: 1023px) {
    .EventSearch_button {
      width: 100%; } }

.EventSearch_datePicker {
  display: none; }
  .EventSearch_datePicker-active {
    position: absolute;
    z-index: 2;
    display: block;
    margin: 3rem -1rem;
    background-color: #fff;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); }

.EventSearch_date .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2; }

.EventSearch_date .DayPicker-Day {
  border-radius: 0 !important; }

.EventSearch_locationContainer {
  position: absolute;
  width: 50%;
  margin-top: 0.4rem;
  background-color: #fff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 1023px) {
    .EventSearch_locationContainer {
      z-index: 10;
      width: 80%; } }

.EventSearch_suggestion {
  font-size: 1.125rem;
  padding: 0 0.5rem; }
  .EventSearch_suggestion + .EventSearch_suggestion {
    margin-top: 0.5rem; }

.EventSearch_resultsContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 5rem; }
  @media screen and (max-width: 1023px) {
    .EventSearch_resultsContainer {
      margin-top: 10rem; } }

.EventSearch_loadingContent {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  width: 100%; }

.EventSearch_loadingCardContent {
  display: flex;
  flex-flow: row wrap;
  margin-top: 2rem;
  height: 100%;
  width: 100%; }

.EventSearch_loadingCard {
  flex: 0 0 auto;
  width: 33.33333%;
  display: flex;
  flex-flow: column;
  padding: 1rem 4rem; }

.EventSearch_loading {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative; }
  .EventSearch_loading-title {
    height: 80px;
    width: 400px; }

.EventSearch_title {
  font-size: 2rem;
  font-family: Playfair Display, serif;
  font-weight: 400;
  width: 500px;
  text-align: center; }
  @media screen and (max-width: 767px) {
    .EventSearch_title {
      font-size: 1.7rem; } }
  @media screen and (max-width: 479px) {
    .EventSearch_title {
      width: 80%; } }

.EventSearch_paragraph {
  margin-top: 2rem;
  font-size: 1.2rem; }
  @media screen and (max-width: 479px) {
    .EventSearch_paragraph {
      width: 80%; } }

.EventSearch_required {
  color: #C9001C;
  font-size: 0.875rem; }

.EventSearch_filterContainer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-end; }
  @media screen and (min-width: 0) and (max-width: 479px) {
    .EventSearch_filterContainer {
      max-width: none;
      padding-left: 1rem;
      padding-right: 1rem; } }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    .EventSearch_filterContainer {
      max-width: none;
      padding-left: 1.5rem;
      padding-right: 1.5rem; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .EventSearch_filterContainer {
      max-width: none;
      padding-left: 1.5rem;
      padding-right: 1.5rem; } }
  @media screen and (min-width: 1024px) and (max-width: 1439px) {
    .EventSearch_filterContainer {
      max-width: none;
      padding-left: 2rem;
      padding-right: 2rem; } }
  @media screen and (min-width: 1440px) {
    .EventSearch_filterContainer {
      max-width: 1600px;
      padding-left: 2rem;
      padding-right: 2rem; } }

.EventSearch_filter {
  width: 120px;
  border: 1px solid #14505B;
  background-color: #fff;
  font-size: 1rem; }
  .EventSearch_filter:hover {
    border: 1px solid #00A0B0; }
  @media screen and (max-width: 479px) {
    .EventSearch_filter {
      margin-top: 1rem; } }

.EventsResults_list {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: center;
  margin: 2rem 0;
  list-style: none; }
  @media screen and (min-width: 0) and (max-width: 479px) {
    .EventsResults_list {
      max-width: none;
      padding-left: 1rem;
      padding-right: 1rem; } }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    .EventsResults_list {
      max-width: none;
      padding-left: 1.5rem;
      padding-right: 1.5rem; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .EventsResults_list {
      max-width: none;
      padding-left: 1.5rem;
      padding-right: 1.5rem; } }
  @media screen and (min-width: 1024px) and (max-width: 1439px) {
    .EventsResults_list {
      max-width: none;
      padding-left: 2rem;
      padding-right: 2rem; } }
  @media screen and (min-width: 1440px) {
    .EventsResults_list {
      max-width: 1600px;
      padding-left: 2rem;
      padding-right: 2rem; } }

.EventsResults_card {
  flex: 0 0 auto;
  width: 25%;
  box-shadow: 0 7px 20px -3px rgba(0, 0, 0, 0.15);
  margin: 1rem;
  color: #474747;
  border: 1px solid #ccc; }
  @media screen and (max-width: 1023px) {
    .EventsResults_card {
      flex: 0 0 auto;
      width: 33.33333%; } }
  @media screen and (max-width: 479px) {
    .EventsResults_card {
      flex: 0 0 auto;
      width: 100%; } }

.EventsResults_imageContainer {
  overflow: hidden;
  height: 12.5rem;
  background: lightblue; }

.EventsResults_image {
  display: block;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.EventsResults_textContent {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 1rem;
  min-height: 18rem;
  color: black; }

.EventsResults_title {
  color: #14505B;
  font-weight: 600;
  font-size: 1.125rem;
  text-transform: uppercase; }

.EventsResults_details {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }

.EventsResults_date, .EventsResults_price {
  font-size: 0.85rem; }

.EventsResults_button {
  background-color: #00B6C8;
  color: #fff;
  font-size: 0.85rem;
  font-weight: 600; }
  .EventsResults_button:hover {
    background-color: #00A0B0; }
  @media screen and (max-width: 479px) {
    .EventsResults_button {
      width: 80%; } }

.Events {
  padding-bottom: 14rem; }
  .Events_bannerContainer {
    position: relative;
    height: 54.5rem;
    width: 100%; }
    @media screen and (max-width: 1023px) {
      .Events_bannerContainer {
        height: 32.5rem; } }
  .Events_heroImage {
    position: relative;
    height: 100%;
    background-color: #00B5C9;
    opacity: 0.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .Events_content {
    position: absolute;
    top: 50%;
    left: 10%;
    padding: 2rem;
    border-radius: 10px;
    color: #00B6C8;
    background-color: #fff;
    text-align: center; }
  .Events_bannerTitle {
    font-size: 3rem;
    font-family: Playfair Display, serif;
    font-weight: 400; }
    @media screen and (max-width: 767px) {
      .Events_bannerTitle {
        font-size: 2.7rem; } }

.Footer {
  position: absolute;
  left: 0;
  bottom: 0;
  min-height: 65px;
  width: 100%;
  background-color: #14505B; }
  .Footer_list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 1.3rem;
    padding: 0 6.5rem; }
    @media screen and (max-width: 479px) {
      .Footer_list {
        flex-flow: column;
        text-align: center; } }
  .Footer_link {
    color: #fff;
    font-size: 0.85rem;
    font-weight: 500;
    text-transform: uppercase;
    list-style: none; }
    @media screen and (max-width: 479px) {
      .Footer_link + .Footer_link {
        margin-top: 1rem; } }

.Homepage {
  padding-bottom: 8rem; }
  .Homepage_container {
    position: relative;
    height: 54.5rem;
    width: 100%; }
  .Homepage_heroImage {
    position: relative;
    height: 100%;
    background-color: #00B5C9;
    opacity: 0.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .Homepage_content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 2rem;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    color: #00B6C8;
    background-color: #fff;
    text-align: center; }
  .Homepage_bannerTitle {
    font-size: 3rem;
    font-family: Playfair Display, serif;
    font-weight: 400; }
    @media screen and (max-width: 767px) {
      .Homepage_bannerTitle {
        font-size: 2.7rem; } }
  .Homepage_subtext {
    font-size: 1.5rem;
    font-family: Playfair Display, serif;
    font-weight: 400;
    margin-top: 2rem; }
    @media screen and (max-width: 767px) {
      .Homepage_subtext {
        font-size: 1.2rem; } }
  .Homepage_jumpLink {
    height: 30px;
    width: 30px;
    margin-top: 2rem;
    border-right: 6px solid #00B6C8;
    border-bottom: 6px solid #00B6C8;
    background: none;
    transform: rotate(-314deg); }
  .Homepage_section {
    margin-top: 6rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative; }
    .Homepage_section:first-child {
      margin-top: 0; }
    .Root > .Homepage_section:first-child {
      margin-top: 4rem; }
    @media screen and (min-width: 0) and (max-width: 479px) {
      .Homepage_section {
        max-width: none;
        padding-left: 1rem;
        padding-right: 1rem; } }
    @media screen and (min-width: 480px) and (max-width: 767px) {
      .Homepage_section {
        max-width: none;
        padding-left: 1.5rem;
        padding-right: 1.5rem; } }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .Homepage_section {
        max-width: none;
        padding-left: 1.5rem;
        padding-right: 1.5rem; } }
    @media screen and (min-width: 1024px) and (max-width: 1439px) {
      .Homepage_section {
        max-width: none;
        padding-left: 2rem;
        padding-right: 2rem; } }
    @media screen and (min-width: 1440px) {
      .Homepage_section {
        max-width: 1600px;
        padding-left: 2rem;
        padding-right: 2rem; } }
  .Homepage_sectionContent {
    width: 900px;
    max-width: 100%;
    margin: 0 auto; }
  .Homepage_pageTitle {
    font-size: 2rem;
    font-family: Playfair Display, serif;
    font-weight: 400;
    position: relative;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .Homepage_pageTitle {
        font-size: 1.7rem; } }
    .Homepage_pageTitle::after {
      content: '';
      position: absolute;
      width: 60px;
      height: 1rem;
      bottom: -1rem;
      left: calc(50% - 30px);
      border-bottom: 2px solid #00B6C8; }
  .Homepage_text {
    margin-top: 5rem;
    font-size: 1.2rem;
    text-align: center; }

.ImageSplit {
  margin-top: 6rem;
  margin-bottom: 5rem; }
  .ImageSplit:first-child {
    margin-top: 0; }
  .Root > .ImageSplit:first-child {
    margin-top: 4rem; }
  .ImageSplit_container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%; }
    @media screen and (max-width: 767px) {
      .ImageSplit_container {
        flex-flow: column; } }
  .ImageSplit_item {
    width: 50%; }
    @media screen and (max-width: 767px) {
      .ImageSplit_item {
        width: 100%; } }
    @media screen and (max-width: 767px) {
      .ImageSplit_item-text {
        order: 2; } }
  .ImageSplit_imageContainer {
    height: 500px;
    width: 56.25%;
    margin-left: 8rem;
    background-color: #00B5C9;
    opacity: 0.5; }
    @media screen and (max-width: 767px) {
      .ImageSplit_imageContainer {
        order: 1; } }
    @media screen and (max-width: 479px) {
      .ImageSplit_imageContainer {
        width: 100%;
        margin-left: 0; } }
  .ImageSplit_image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat; }
  .ImageSplit_textContent {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
    padding: 0 8rem; }
    @media screen and (max-width: 479px) {
      .ImageSplit_textContent {
        padding: 0;
        margin-top: 1rem; } }
  .ImageSplit_title {
    font-size: 2rem;
    font-family: Playfair Display, serif;
    font-weight: 400;
    position: relative; }
    @media screen and (max-width: 767px) {
      .ImageSplit_title {
        font-size: 1.7rem; } }
    .ImageSplit_title::after {
      content: '';
      position: absolute;
      width: 60px;
      height: 1rem;
      bottom: -1rem;
      left: 0;
      border-bottom: 2px solid #00B6C8; }
  .ImageSplit_innerText {
    margin-top: 2rem;
    font-size: 1.2rem; }
  .ImageSplit_actions {
    margin-top: 3rem;
    width: 100%;
    flex: 0 0 auto; }
    @media screen and (max-width: 479px) {
      .ImageSplit_actions {
        display: flex; } }
  .ImageSplit_button {
    height: 3rem;
    padding: 0.8rem 2rem;
    background-color: #00B6C8;
    color: #fff;
    font-size: 0.85rem; }
    .ImageSplit_button:hover {
      background-color: #00A0B0; }
    @media screen and (max-width: 479px) {
      .ImageSplit_button {
        width: 100%;
        text-align: center; } }

.Inspiration {
  margin-top: 6rem; }
  .Inspiration:first-child {
    margin-top: 0; }
  .Root > .Inspiration:first-child {
    margin-top: 4rem; }
  .Inspiration_container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column;
    align-items: center; }
    @media screen and (min-width: 0) and (max-width: 479px) {
      .Inspiration_container {
        max-width: none;
        padding-left: 1rem;
        padding-right: 1rem; } }
    @media screen and (min-width: 480px) and (max-width: 767px) {
      .Inspiration_container {
        max-width: none;
        padding-left: 1.5rem;
        padding-right: 1.5rem; } }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .Inspiration_container {
        max-width: none;
        padding-left: 1.5rem;
        padding-right: 1.5rem; } }
    @media screen and (min-width: 1024px) and (max-width: 1439px) {
      .Inspiration_container {
        max-width: none;
        padding-left: 2rem;
        padding-right: 2rem; } }
    @media screen and (min-width: 1440px) {
      .Inspiration_container {
        max-width: 1600px;
        padding-left: 2rem;
        padding-right: 2rem; } }
  .Inspiration_title {
    font-size: 2rem;
    font-family: Playfair Display, serif;
    font-weight: 400;
    position: relative;
    text-transform: uppercase; }
    @media screen and (max-width: 767px) {
      .Inspiration_title {
        font-size: 1.7rem; } }
    .Inspiration_title::after {
      content: '';
      position: absolute;
      width: 60px;
      height: 1rem;
      bottom: -1rem;
      left: calc(50% - 30px);
      border-bottom: 2px solid #00B6C8; }
  .Inspiration_content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem; }
  .Inspiration_imageContainer {
    overflow: hidden;
    width: 25%;
    height: 20rem;
    margin: 2rem;
    background: lightblue; }
    @media screen and (max-width: 1023px) {
      .Inspiration_imageContainer {
        width: 40%;
        height: 15rem;
        padding: 0; } }
    @media screen and (max-width: 767px) {
      .Inspiration_imageContainer {
        width: 100%; } }
  .Inspiration_image {
    display: block;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform .5s ease; }
    .Inspiration_image:hover {
      transform: scale(1.1); }

.Navigation {
  width: 100%;
  overflow: hidden; }
  .Navigation_container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 2rem;
    background-color: #14505B;
    color: #fff;
    opacity: 0.85; }
  .Navigation_link {
    color: #fff;
    font-size: 1.25rem; }


/*# sourceMappingURL=styles.chunk.css.map*/