$button: (
  "border-width": 2px,
  "font-size": 0.8rem,
  "height": 3rem,
  "padding": 2rem,
);

$checkbox: (
  "border-width": 1px,
  "font-size": 1rem,
  "padding-left": 1rem,
  "radio-circle-size": 40%,
  "tick-border-width": 2px,
  "tick-height": 25%,
  "tick-width": 60%,
  "toggle-size": 2rem,
);

$input: (
  "border-width": 1px,
  "font-size": 1rem,
  "height": 3rem,
  "padding": 1rem,
);

$select: (
  "arrow-border-width": 2px,
  "arrow-size": 0.5rem,
  "border-width": 1px,
  "font-size": 1rem,
  "height": 3rem,
  "padding": 1rem,
);