
$content-card: (
  "height-mobile": 25rem,
  "height": 30rem,
);

$gift-list-button: (
  "width": 205px,
);

$gift-list-item: (
  "height-mobile-add-card": 572px,
  "image-height": 321px,
);

$modal: (
  "border-radius": 3px,
);