.Footer {
  position: static;

  &_container {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: map-get($brand-colors, "primary-dark");
  }

  &_list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 1.3rem;
    padding: 0 6.5rem;
  }

  &_link {
    color: map-get($colors, "white");
    font-size: 0.85rem;
    font-weight: 500;
    text-transform: uppercase;
    list-style: none;
  }
}